
#table {
    background-color: rgb(168, 168, 168);
}
#rr{
    background-color: rgb(42, 117, 255);
    color: white;
}
#aa {
    background-color: white;
}
#background {
    background-color: rgb(196, 196, 196);
}